<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="vnpay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>VNPay</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="vnp_TmnCode" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terminal Code</label>
                </field>
                <field id="vnp_HashSecret" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hash Secret</label>
                </field>
                <field id="vnp_Url" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
