///**
<<<<<<< HEAD
// * Copyright 2017 Adobe
// * All Rights Reserved.
=======
// * Copyright © Magento, Inc. All rights reserved.
// * See COPYING.txt for license details.
>>>>>>> cd2dc8bb627573641d87e5e03a85271f17f3264f
// */

@import "_testB.less";
@import "local.css";

span {
  font-size: 20px;
}
.logo-1 {
  background-image: url("../images/logo-magento-1.png");
}
.logo-2 {
  background-image: url("../images/logo-magento-2.png");
}
.logo-3 {
  background-image: url("../images/logo-magento-3.png");
}
